<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="TrOIinoIt1sd7S/OPCiVF9AE7opABTlYmqZV85o9qpI=" value="EFoxb0kDjFGPmkYwoZOFm0PC2WHzuJLtPlhTk+9Tb3VoqIWfDI7oaaaRVQpo0BH5ebPGMpOe0hsM1Y29RRj1Y4vAV0ow5fYdQ14m0gqNf/k="/>
    <add key ="EssoHostPath" value="E:\SD\github\EGSISTO\201307012012_EssoHost\EssoHost\Log\" />
  </appSettings>

  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="ServiceOnly">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="myBehavior" name="EssoDA.UserDA">
        <endpoint behaviorConfiguration="myEndpointBehavior" binding="webHttpBinding" contract="EssoContract.IUser"/>
      </service>
      <service behaviorConfiguration="myBehavior" name="EssoDA.ProductDA">
        <endpoint behaviorConfiguration="myEndpointBehavior" binding="webHttpBinding" contract="EssoContract.IProduct"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="10000" maxConcurrentInstances="10000" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />-->
  </system.serviceModel>
</configuration>
