<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
  <appSettings>
    <add key="TrOIinoIt1sd7S/OPCiVF9AE7opABTlYmqZV85o9qpI=" value="ui9JqhCA+ZY28jV8JCtufXmfq4v1tE++zZuJa5p/C3eWSgtVztzxZ7J3Ok7b5pfP45eR3u0ka7GRtpZzl6YDvGW+Kn1sJ65RKb1Sk+Uj9IUB8XyTQN0vEpiSIWUzWBkq"/>
  </appSettings>

  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="ServiceOnly">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="myBehavior" name="EssoDA.UserDA">
        <endpoint behaviorConfiguration="myEndpointBehavior" binding="webHttpBinding" contract="EssoContract.IUser"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceThrottling maxConcurrentCalls="10000" maxConcurrentSessions="10000" maxConcurrentInstances="10000" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />-->
  </system.serviceModel>

</configuration>
